In [1]:
import numpy as np
import pandas as pd

In [25]:
scores = pd.read_csv("scores_formatados.csv", sep=';', index_col="Id")

In [26]:
scores.head()

,Pgn Number,Event,Move Number,Move,Score,Comment,Label
Id,,,,,,,
0,44,alygally's mini-tournament,1W,e2e4,22,This is my first gameknot game against someone...,0
1,44,alygally's mini-tournament,1B,e7e5,24,NaN,0
2,44,alygally's mini-tournament,2W,b1c3,29,"I've been playing the Vienna Gambitas white, w...",0
3,44,alygally's mini-tournament,2B,f8c5,37,Minor disappointment.,0
4,44,alygally's mini-tournament,3W,f1c4,16,NaN,0

In [27]:
scores.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
Int64Index: 62542 entries, 0 to 62541
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Pgn Number   62542 non-null  int64
 1   Event        62294 non-null  object
 2   Move Number  62542 non-null  object
 3   Move         62542 non-null  object
 4   Score        62542 non-null  object
 5   Comment      28711 non-null  object
 6   Label        62542 non-null  int64
dtypes: int64(2), object(5)
memory usage: 3.8+ MB

In [29]:
scores['Label'].value_counts()

0    60801
1     1741
Name: Label, dtype: int64

In [52]:
partidas_virada = scores[scores['Label'] == 1].groupby('Pgn Number')

In [57]:
partidas_virada.count().info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
Int64Index: 817 entries, 44 to 8795
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Event        817 non-null    int64
 1   Move Number  817 non-null    int64
 2   Move         817 non-null    int64
 3   Score        817 non-null    int64
 4   Comment      817 non-null    int64
 5   Label        817 non-null    int64
dtypes: int64(6)
memory usage: 44.7 KB

In [95]:
scores[scores['Label'] == 1]['Comment'].count()

1067