In [1]:
import numpy as np
import pandas as pd

In [2]:
scores = pd.read_csv("full_dataset_segment_last_comment_label_100.csv", sep=',', index_col="id")

In [3]:
scores.head()

,pgn_number,event,move_number,move,score,comment,segment_id,label
id,,,,,,,,
0,44,alygally's mini-tournament,1W,e2e4,+22,This is my first gameknot game against someone...,0,0
1,44,alygally's mini-tournament,1B,e7e5,+24,NaN,1,0
2,44,alygally's mini-tournament,2W,b1c3,+29,"I've been playing the Vienna Gambit as white, ...",1,0
3,44,alygally's mini-tournament,2B,f8c5,+37,Minor disappointment.,2,0
4,44,alygally's mini-tournament,3W,f1c4,+16,NaN,3,0

In [4]:
scores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 815029 entries, 0 to 815030
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   pgn_number  815029 non-null  int64
 1   event       813737 non-null  object
 2   move_umber  815029 non-null  object
 3   move        815029 non-null  object
 4   score       815029 non-null  object
 5   comment     341076 non-null  object
 6   segment_id  815029 non-null  int64
 7   label       815029 non-null  int64
dtypes: int64(3), object(5)
memory usage: 56.0+ MB

In [5]:
scores['label'].value_counts()

0    742567
1     72462
Name: label, dtype: int64

In [6]:
partidas_virada = scores[scores['label'] == 1].groupby('pgn_number')

In [7]:
partidas_virada.count().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12379 entries, 44 to 67920
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   event       12379 non-null  int64
 1   move_umber  12379 non-null  int64
 2   move        12379 non-null  int64
 3   score       12379 non-null  int64
 4   comment     12379 non-null  int64
 5   segment_id  12379 non-null  int64
 6   label       12379 non-null  int64
dtypes: int64(7)
memory usage: 773.7 KB

In [8]:
scores[scores['label'] == 1]['comment'].count()

38817

In [9]:
segmentos_virada = scores[scores['label'] == 1].groupby('segment_id')

In [10]:
segmentos_virada.count().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56587 entries, 8 to 341072
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pgn_number  56587 non-null  int64
 1   event       56587 non-null  int64
 2   move_umber  56587 non-null  int64
 3   move        56587 non-null  int64
 4   score       56587 non-null  int64
 5   comment     56587 non-null  int64
 6   label       56587 non-null  int64
dtypes: int64(7)
memory usage: 3.5 MB

In [15]:
scores['segment_id'].nunique()

341076

In [16]:
56587/341076

0.16590730511674817

In [4]:
from langdetect import detect

In [5]:
scores["language"] = np.nan

In [6]:
scores.head()

,pgn_number,event,move_number,move,score,comment,segment_id,label,language
id,,,,,,,,,
0,44,alygally's mini-tournament,1W,e2e4,+22,This is my first gameknot game against someone...,0,0,NaN
1,44,alygally's mini-tournament,1B,e7e5,+24,NaN,1,0,NaN
2,44,alygally's mini-tournament,2W,b1c3,+29,"I've been playing the Vienna Gambit as white, ...",1,0,NaN
3,44,alygally's mini-tournament,2B,f8c5,+37,Minor disappointment.,2,0,NaN
4,44,alygally's mini-tournament,3W,f1c4,+16,NaN,3,0,NaN

In [41]:
comments = scores["comment"].to_list()

In [45]:
comment_languages = []

for comment in comments:
    try:
        comment_languages.append(detect(comment))
    except:
        comment_languages.append(np.nan)

In [47]:
scores["language"] = comment_languages

In [52]:
scores["language"].value_counts()

en    300752
es      3417
it      3312
de      2877
tl      2543
af      2297
fr      2269
nl      2232
sv      1683
pt      1588
id      1522
no      1464
da      1330
et      1260
ca      1195
pl      1184
cy      1089
so      1031
ro       805
vi       792
sq       520
sk       375
sl       353
sw       342
tr       290
fi       262
hr       120
cs       118
hu        89
lt        40
lv        38
bn         1
Name: language, dtype: int64

In [55]:
scores[scores["language"] == 'en']["language"].count()

300752

In [58]:
scores[scores["language"] != 'en']["language"].count()

36438

In [63]:
scores[scores["language"] == 'vi'].head(30)

,pgn_number,event,move_number,move,score,comment,segment_id,label,language
id,,,,,,,,,
561,133,Status Quo vs. Mot�rhead,22W,f2f4,-33,22.Qxg5 hxg5 23.Re5 !?,192,0,vi
2335,277,I hate timing out =_=,26W,b1c3,+1875,Ca-ching!,988,0,vi
5001,538,You gonna eat that shoe?,7B,g7f6,-187,Qxc3 ?? Bxc3.,2181,0,vi
8346,887,League division C3,12W,b1d2,-268,[12.Kh1 Sg4 13.Lxg7 Kxg7=],3733,1,vi
8369,887,League division C3,23B,e6e5,+142,[23...Dc7!?=],3738,1,vi
8473,887,League division C3,75B,h7h8,+6166,75. - Kh6 76. Nf7 Kh5 77. Kf5 Kh4 78. Kf4 Kh3...,3744,0,vi
8493,887,League division C3,85B,h3h4,+5565,85. - Kh2 86. Be6 Kg1 87. Kg3 Kh1 88. Ng4 Kg1 ...,3747,0,vi
8499,887,League division C3,88B,g2f1,+209,88. - Kh3 89. Kf3 Kh2 90. Bc4 Kh3 91. Bd3 Kh2 ...,3750,0,vi
8505,887,League division C3,91B,f1g2,#+12,91. - Ke1 92. Ba4 Kf1 93. Nc2 Kg2 94. Kf4 Kh3 ...,3751,0,vi
13018,1665,hi sir 2 a new term,15W,c4b4,+762,thx,5872,0,vi
18629,2318,"your turn to be white, I think...",37W,f3g2,+957,thus,8424,0,vi
18920,2346,Let's play chess,11B,g4d1,-721,thus,8590,0,vi
24543,3323,Let's play chess,8W,g1f3,+15,? Qc2,11347,0,vi
25038,3443,Team match,12B,b7c6,+1162,bxc6,11555,0,vi
28104,3808,Sicilian Game: Defending against 2. Bc4,22B,d5g2,-1051,22...Bxg2 !!,13182,0,vi
28218,3812,Nutmeg Of Consolation XX,53B,h7h8,#+7,Not 53...Kg8 54. h7,13225,0,vi
28515,3873,bring it on!,21W,g1g2,+186,Nh3 ?,13373,0,vi
28965,3950,"Fisher/Reti opening for black, Queenside count...",41W,h4h5,#-4,41. Kc1 f2 41. h5 gxh5,13545,0,vi
28985,3953,"e4/e5/Nf3/Nc6, Three Knights Game",9W,g2g3,-13,9. ... Qh3 10. Qd3 Qg2 11. O-O-O Bg4 12. Rh-g1...,13551,0,vi
28993,3953,"e4/e5/Nf3/Nc6, Three Knights Game",13W,f1g2,-373,13. ... Nxg2 14. Nxc6 Bxf2 15. Rd2,13556,1,vi
29273,3963,It never hurts to play for a stalemate,28B,f4g2,-705,29. Kxg2 Bc8 30. Nxc8 Rxc8 31. Rb4 Bc3,13638,0,vi
29315,3963,It never hurts to play for a stalemate,49B,h3h4,-55,50. Kg3 Rg4 51. Kh3 Kg6,13642,0,vi
31877,4312,Challenge from scottlysan,45B,g5f4,#+4,...Kh4 46. g3 Kh3 47. Qh5#,14890,0,vi
31881,4312,Challenge from scottlysan,47B,g5h6,#+1,...Kh4 48. g3 Kh3 49. Qh5#,14891,0,vi
32407,4431,chess tricks lesson one,25W,a1d4,-1125,NATURALLY,15180,0,vi
33630,4576,NaN,15W,f1e2,-313,15.Qe2 Nc4,15669,0,vi
34233,4641,34th GK tournament,38B,g8f8,+592,Not Kh8 Rh5,16028,0,vi
35365,5019,2nd Official Great Lakes minitournament,8B,f6e4,+386,Ne4? Nh5!,16631,0,vi
35864,5133,Let's play chess,8W,f3e5,-171,Attacking c6.,16726,1,vi
37321,5357,Team match,15B,a7a5,+22,on 15 ... Nh5? 16 Qg4,17384,0,vi

In [66]:
scores[scores["pgn_number"] == 2318].head(30)

,pgn_number,event,move_number,move,score,comment,segment_id,label,language
id,,,,,,,,,
18557,2318,"your turn to be white, I think...",1W,e2e4,+23,AN elegent game that is over quickly,8401,1,en
18558,2318,"your turn to be white, I think...",1B,e7e5,+54,NaN,8402,0,NaN
18559,2318,"your turn to be white, I think...",2W,d2d3,-15,NaN,8402,0,NaN
18560,2318,"your turn to be white, I think...",2B,d7d5,+6,Black pushes for an advantage unbalancing the ...,8402,0,en
18561,2318,"your turn to be white, I think...",3W,d1f3,-105,NaN,8403,1,NaN
18562,2318,"your turn to be white, I think...",3B,d5d4,-25,"with this move, black establishes control of t...",8403,0,en
18563,2318,"your turn to be white, I think...",4W,b2b3,-78,I prepare my house for the king,8404,0,en
18564,2318,"your turn to be white, I think...",4B,f8b4,-51,check,8405,0,de
18565,2318,"your turn to be white, I think...",5W,b1d2,-51,my homebuilding plans are disrupted,8406,0,en
18566,2318,"your turn to be white, I think...",5B,b8d7,-45,NaN,8407,0,NaN
18567,2318,"your turn to be white, I think...",6W,c1b2,-57,"but undeterred, I continue",8407,0,en
18568,2318,"your turn to be white, I think...",6B,d7b6,+47,NaN,8408,0,NaN
18569,2318,"your turn to be white, I think...",7W,g2g3,-45,NaN,8408,0,NaN
18570,2318,"your turn to be white, I think...",7B,g8h6,-62,NaN,8408,0,NaN
18571,2318,"your turn to be white, I think...",8W,f1h3,-115,NaN,8408,0,NaN
18572,2318,"your turn to be white, I think...",8B,d8g5,-7,This move begins the series of moves that trap...,8408,1,en
18573,2318,"your turn to be white, I think...",9W,e1c1,-82,NaN,8409,0,NaN
18574,2318,"your turn to be white, I think...",9B,c8g4,+37,NaN,8409,0,NaN
18575,2318,"your turn to be white, I think...",10W,h3g4,+56,NaN,8409,0,NaN
18576,2318,"your turn to be white, I think...",10B,h6g4,+69,NaN,8409,0,NaN
18577,2318,"your turn to be white, I think...",11W,h2h4,-87,NaN,8409,0,NaN
18578,2318,"your turn to be white, I think...",11B,g5g6,-34,NaN,8409,0,NaN
18579,2318,"your turn to be white, I think...",12W,a2a3,-44,NaN,8409,0,NaN
18580,2318,"your turn to be white, I think...",12B,b4d2,-32,an exchange by black to thin the ranks,8409,0,en
18581,2318,"your turn to be white, I think...",13W,d1d2,-39,NaN,8410,0,NaN
18582,2318,"your turn to be white, I think...",13B,e8g8,+9,NaN,8410,0,NaN
18583,2318,"your turn to be white, I think...",14W,a3a4,-69,NaN,8410,0,NaN
18584,2318,"your turn to be white, I think...",14B,c7c5,-28,NaN,8410,0,NaN
18585,2318,"your turn to be white, I think...",15W,b2a3,-216,NaN,8410,1,NaN
18586,2318,"your turn to be white, I think...",15B,b6d7,-95,NaN,8410,1,NaN

In [67]:
language_log = open("language_log.txt", "w")
for language in comment_languages:
    language_log.write(f'{language}\n')

In [68]:
len(comment_languages)

815029